@blockquote-font-size: @font-size-base;

body {
  padding-top: 50px;
}

.nav.nav-header {
  padding-bottom: 5px;
  padding-top: 5px;
}
.nav.nav-header > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  font-variant: small-caps;
}
.nav.nav-nested > li > a {
  padding: 3px 30px;
}

table {
  .table();
  .table-striped();
}

.footer {
  text-align: center;
  padding: 30px 0px;
  margin-top: 70px;
  border-top: 1px solid @well-border;
  background-color: @well-bg;
}
