extends article

include news

mixin pager(news)
  if news.hasMore || news.offset
    ul(class="pager")
      if news.hasMore
        li(class="previous")
          a(href=href=env.helpers.pageUrl(page, "news/index", +1))
            span(class="glyphicon glyphicon-arrow-left")
            |&nbsp;Older
      if news.offset
        li(class="next")
          a(href=env.helpers.pageUrl(page, "news/index", -1))
            |Newer&nbsp;
            span(class="glyphicon glyphicon-arrow-right")

block article
  h1=page.title
  -var news = env.helpers.news(contents, page.metadata.offset, 10)
  +pager(news)
  each article in news.articles
    +newsArticle(article)
  +pager(news)
